*.locmeta filter=lfs diff=lfs merge=lfs -text
*.locres filter=lfs diff=lfs merge=lfs -text
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
*.archive filter=lfs diff=lfs merge=lfs -text
#
*.a filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.so.2 filter=lfs diff=lfs merge=lfs -text
*.so.3 filter=lfs diff=lfs merge=lfs -text
#
*.bmp filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.pdn filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
#
*.blend filter=lfs diff=lfs merge=lfs -text
*.blend1 filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
#
*.mo filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.xlsm filter=lfs diff=lfs merge=lfs -text
#
*.zip filter=lfs diff=lfs merge=lfs -text
*.pak filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
#
Plugins/GameFeatures/ShooterMaps/Content/Maps/L_Expanse_Blockout.umap filter=lfs diff=lfs merge=lfs -text
Plugins/GameFeatures/ShooterMaps/Content/Maps/L_Convolution_Blockout.umap filter=lfs diff=lfs merge=lfs -text
Plugins/GameFeatures/ShooterMaps/Content/Maps/L_Convolution_Blockout_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
Plugins/GameFeatures/ShooterMaps/Content/Maps/L_Expanse.umap filter=lfs diff=lfs merge=lfs -text
Plugins/GameFeatures/ShooterMaps/Content/Maps/L_Expanse_Blockout_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
Plugins/GameFeatures/ShooterMaps/Content/Maps/L_FiringRange_WP.umap filter=lfs diff=lfs merge=lfs -text
Plugins/GameFeatures/ShooterMaps/Content/Maps/L_ShooterFrontendBackground.umap filter=lfs diff=lfs merge=lfs -text
Build/Windows/Application.ico filter=lfs diff=lfs merge=lfs -text
Plugins/GameFeatures/ShooterTests/Content/Maps/L_ShooterTest_AutoRun.umap filter=lfs diff=lfs merge=lfs -text
Plugins/GameFeatures/ShooterTests/Content/Maps/L_ShooterTest_DeviceProperties.umap filter=lfs diff=lfs merge=lfs -text
Plugins/GameFeatures/ShooterTests/Content/Maps/L_ShooterTest_FireWeapon.umap filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/ar/EngineOverrides.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/ar/EngineOverrides.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/de/EngineOverrides.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/de/EngineOverrides.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/en/EngineOverrides.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/en/EngineOverrides.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/es/EngineOverrides.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/es/EngineOverrides.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/es-419/EngineOverrides.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/es-419/EngineOverrides.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/fr/EngineOverrides.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/fr/EngineOverrides.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/it/EngineOverrides.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/it/EngineOverrides.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/ja/EngineOverrides.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/ja/EngineOverrides.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/ko/EngineOverrides.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/ko/EngineOverrides.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/pl/EngineOverrides.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/pl/EngineOverrides.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/pt-BR/EngineOverrides.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/pt-BR/EngineOverrides.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/ru/EngineOverrides.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/ru/EngineOverrides.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/tr/EngineOverrides.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/tr/EngineOverrides.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/zh-Hans/EngineOverrides.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/zh-Hans/EngineOverrides.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/EngineOverrides/EngineOverrides.manifest filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/ar/Game.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/de/Game.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/en/Game.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/en/Game.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/es/Game.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/es-419/Game.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/fr/Game.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/it/Game.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/ja/Game.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/ja/Game.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/ko/Game.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/ko/Game.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/pl/Game.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/pt-BR/Game.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/ru/Game.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/tr/Game.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/zh-Hans/Game.archive filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/zh-Hans/Game.locres filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/Game.locmeta filter=lfs diff=lfs merge=lfs -text
Content/Localization/Game/Game.manifest filter=lfs diff=lfs merge=lfs -text
Content/System/DefaultEditorMap/L_DefaultEditorOverview.umap filter=lfs diff=lfs merge=lfs -text
Content/System/FrontEnd/Maps/L_LyraFrontEnd.umap filter=lfs diff=lfs merge=lfs -text
Plugins/GameFeatures/ShooterCore/Content/Maps/L_ShooterGym.umap filter=lfs diff=lfs merge=lfs -text
Plugins/GameFeatures/ShooterExplorer/Content/Maps/L_InventoryTestMap.umap filter=lfs diff=lfs merge=lfs -text
Plugins/GameFeatures/TopDownArena/Content/Maps/L_TopDown_LocalMultiplayer.umap filter=lfs diff=lfs merge=lfs -text
Plugins/GameFeatures/TopDownArena/Content/Maps/L_TopDownArenaGym.umap filter=lfs diff=lfs merge=lfs -text
